# Dependencies
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / reports
coverage/
.nyc_output/

# OS junk
.DS_Store
Thumbs.db
.tmp/

# Local environment overrides
.env
.tmp
